.table td {
    border: 1px solid black;
}

.table {
    height: 100%;
}

.full-page {
    height: calc(100% - (50px));
    overflow: hidden;
}

.canvas {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}